<html>
    <head>
        <title>Spiros blog</title>
			<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
			<script>
			  window.OneSignal = window.OneSignal || [];
			  OneSignal.push(function() {
				OneSignal.init({
				  appId: "718c128c-bf4f-4bb3-aad0-f751e1effa22",
				});
			  });
			</script>
	</head>
    <body>
        <div>
    <h1><a href="/">Spiros Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    </body>
</html>